<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <input type="date" class="dateSelect" value='<%= date%>'>

        <form action="/todos/searchTodo" method='GET'> 
            <input type="search" name="search" placeholder="Order history" class="orderSearch"> 
            <input type="submit">
        </form>

    <button onclick="window.print()">Print this page</button>
    
    
    <h1>Deliveries</h1>
    <ul>
    <% let result = 0 %>
    <% todos.forEach( el => { %>
        <% console.log("todos.ejs", todos) %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span><%= el.address%></span>
                <span><%= el.total%>$</span>
                <span><%= el.paymentType %></span>
                <span><%= el.date%></span>
                <span class='del'> Delete </span>
            </li>
            <% result += el.total %>
    <% }) %>    
    </ul>
    
    
    


    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>