<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <input type="date" class="dateSelect" value='<%= date%>'>

        <form action="/todos/searchTodo" method='GET'> 
            <input type="search" name="search" placeholder="Order history" class="orderSearch"> 
            <input type="submit">
        </form>

    <button onclick="window.print()">Print this page</button>

    <form action="/todos/downloadCSV" method="POST">
        <button>CSV Report</button>
        <input type="hidden" name="date" value='<%= date%>'>
    </form>    
    
    <h1>Customers Orders </h1>
    <!-- <ul>
    <% todos.forEach( el => { %>
        <% console.log("todos.ejs", todos) %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span><%= el.address%></span>
                <span><%= el.total%>$</span>
                <span><%= el.paymentType %></span>
                <span><%= el.date%></span>
                <button class='del'> Delete </button>
                <select class="dropDown">
                    <option value="">Modify Payment Type</option>
                    <option value="Cash" <% if(selectedOption === 'Cash') { %> selected <% } %>>Cash</option>
                    <option value="Debit" <% if(selectedOption === 'Debit') { %> selected <% } %>>Debit</option>
                    <option value="Visa" <% if(selectedOption === 'Visa') { %> selected <% } %>>Visa</option>
                    <option value="MasterCard" <% if(selectedOption === 'MasterCard') { %> selected <% } %>>MasterCard</option>
                </select>
            </li>
    <% }) %>    
    </ul> -->
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Full Name" name='todoItem'>
        <input type="text" placeholder="Address" name="address">
        <input type="number" placeholder="Total" name="total" step="0.01">
        <input type="hidden" name="date" value='<%= date%>'>
        <input type="hidden" name="status" value="Not Delivered">
        <input type="checkbox" class="checkedbox" id="cash" name="paymentType" value="Cash">
        <label for="cash">Cash</label>
        <input type="checkbox" class="checkedbox" id="debit" name="paymentType" value="Debit" >
        <label for="debit">Debit</label>
        <input type="checkbox" class="checkedbox" id="visa" name="paymentType" value="Visa" >
        <label for="debit">Visa</label>
        <input type="checkbox" class="checkedbox" id="mastercard" name="paymentType" value="MasterCard" >
        <label for="debit">MasterCard</label>
        <input type="submit">
    </form>
    <section>
        <table  border="2" cellspacing="0" cellpadding="10">
            <thead>
                <tr>
                    <th>Customers</th>
                    <th>Address</th>
                    <th>Total</th>
                    <th>Payment Type</th>
                    <th>Date</th>
                    <th>Delete</th>
                    <th>Modify Payment Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% todos.forEach( el => { %>
                <tr class='todoItem' data-id='<%=el._id%>'>
                    <td class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></td>
                    <td><%= el.address %></td>
                    <td><%= el.total %>$</td>
                    <td><%= el.paymentType %></td>
                    <td><%= el.date %></td>
                    <td class="del"> Delete</td>
                    <td>
                        <select class="dropDown">
                            <option value="">Modify Payment Type</option>
                            <option value="Cash" <% if(selectedOption === 'Cash') { %> selected <% } %>>Cash</option>
                            <option value="Debit" <% if(selectedOption === 'Debit') { %> selected <% } %>>Debit</option>
                            <option value="Visa" <% if(selectedOption === 'Visa') { %> selected <% } %>>Visa</option>
                            <option value="MasterCard" <% if(selectedOption === 'MasterCard') { %> selected <% } %>>MasterCard</option>
                        </select>
                    </td>
                    <td class="deliveryStatus"><%= el.status %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </section>
    
    <h2><%= user.userName %> has <%= left %> deliveries to do today.</h2>
    <h2>Total sales today: <%= result %>$</h2>
    <h3>Total Cash: <%= cash %>$</h3>
    <h3>Total Debit: <%= debit %>$</h3>
    <h3>Total Visa: <%= visa %>$</h3>
    <h3>Total MasterCard: <%= mastercard %>$</h3>



    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Full Name" name='todoItem'>
        <input type="text" placeholder="Address" name="address">
        <input type="number" placeholder="Total" name="total" step="0.01">
        <input type="hidden" name="date" value='<%= date%>'>
        <input type="checkbox" class="checkedbox" id="cash" name="paymentType" value="Cash">
        <label for="cash">Cash</label>
        <input type="checkbox" class="checkedbox" id="debit" name="paymentType" value="Debit" >
        <label for="debit">Debit</label>
        <input type="checkbox" class="checkedbox" id="visa" name="paymentType" value="Visa" >
        <label for="debit">Visa</label>
        <input type="checkbox" class="checkedbox" id="mastercard" name="paymentType" value="MasterCard" >
        <label for="debit">MasterCard</label>
        <input type="submit">
    </form>


    <a href="/logout">Logout</a>

    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>